
.about{
	width:80vw;
	height:80vh;
	display:grid;
	grid-template-rows: 1fr 1fr 1fr;
    margin:auto;
}
.d1,.d2,.d3,.d4,.d5{
	width:100%;
	height:100%;
	background-position: center;
	background-repeat: no-repeat;
}

.d1{
     font-size: 30px;
     font-weight: bold;
     text-decoration: underline;
     align-items: center;
     text-align: left;
}

.d2{
     align-items: center;
     text-align: left;
     display:grid;
     grid-template-columns: 50vw 30vw;
     cursor: pointer;
}

.d3{
    color:blue;
     display: flex;
     font-size: 20px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     align-items: center;
     text-align: left;
     justify-content:space-around;
}

.d4{
     display: flex;
     background-color: rgb(4, 4, 140);
     align-items: center;
     text-align: left;
     justify-content:right;
}

.d5{
     background-color: rgb(6, 60, 195);
     align-items: center;
     text-align: left;
}

