.review{
	width:80vw;
	height:80vh;
	display:grid;
	grid-template-rows: 4% 34% 62%;
    margin:auto;
}
.d1s,.d2s,.d3s,.d4s,.d5s,.d6s{
    display: inline-block;
	width:100%;
	height:100%;
	background-position: center;
	background-repeat: no-repeat;
}

.d1s{
     font-size: 30px;
     font-weight: bold;
     text-decoration: underline;
     align-items: center;
     text-align: left;
}

.d2s{
     align-items: center;
     text-align: center;
     display:grid;
     grid-template-columns: 20vw 20vw 20vw 20vw;
     cursor: pointer;
}

.d3s{
     display: flex;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     align-items: center;
     text-align: left;
     justify-content:center;
}

.d4s{
     display: flex;
     background-color: rgb(4, 4, 140);
}

.text{
display: flex;
  font-size: 20px;  
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align:justify;
  color:azure;
  font-weight:bold;
  justify-content:center;
  margin: 2em;
  line-height:1.5;
}

figure {
  float: right;
   text-align: left;
   font-weight:bold;
  font-size: 15px;
  margin: 0.5em;
  padding: 0.5em;
}